div#heading{
    width:97%;

    /*height:90%;*/
    /*padding:20px 20px 20px 20px;*/
}
body{
    background-color: black;
}
#canvas {
    position:center;
    width:98%;
    background: center;
    background-color: black;
    /*height:90%;*/
    /*margin:10px*/
}

h1{
    color:white;
    text-align: center;
    font-family: sans-serif;
}

