body {
  font-family: 'Roboto', sans-serif;
  background-color: hsla(180, 10%, 95%, 1.0);
  color: hsla(0, 10%, 10%, 1.0);
  margin: 2em;
  font-size: 12pt;
}

h1,
h2,
h3,
h4,
h5,
strong {
  color: hsla(300, 100%, 25%, 0.8);
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  margin-top: 2em;
  margin-bottom: 0em;
}

a {
  text-decoration: none;
  color: hsla(180, 60%, 30%, 1.0);
}

ul,
ol {
  margin: 1em;
  padding-right: 6em;
  padding-left: 1em;
}

p,
li {
  margin-top: 0.2em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7em;
  color: hsla(0, 10%, 30%, 1.0);
}

li {
  margin-bottom: 0.6em;
  line-height: 1.3em;
  font-size: 11pt;
}

span {
  font-size: 12px;
}

span.date {
  font-family: 'Roboto', sans-serif;
}

span.title {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: hsla(0, 5%, 60%, 1.0);
}

.centered {
  text-align: center;
  margin: auto;
  min-width: 200px;
  width: 80%;
}

.nav {
  width: 100%;
  text-align: center;
  font-size: 24pt;
  margin: 0px;
  padding: 0px;
  margin-top: 1em;
}

.nav > a {
  margin: 1em;
}

.boxes {
  display: inline-block;
  width: 100%;
  height: auto;
}

leftBox {
  width: 350px;
  float: left;
  text-align: left;
  margin-top: 1em;
}

rightBox {
    width: 50%;
    float: right;
    text-align: left;
    margin-top: 2.5em;
}

.image {
    width: auto;
    height: auto;
    text-align: center;
    padding: 2em;
}