body {
  font-family: 'Railway', sans-serif;
  background-color: hsla(180, 10%, 95%, 1.0);
  color: hsla(0, 10%, 10%, 1.0);
  margin: 2em;
  font-size: 12pt;
}

h1,
h3,
h4,
h5,
strong {
  color: hsl(167, 100%, 12%);
  text-transform: uppercase;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 1.5em;
  margin-bottom: 0em;
}

a {
  text-decoration: none;
  color: hsl(168, 100%, 24%);
}

a:hover {
  color: hsl(23, 40%, 44%);
  background-color: hsla(180, 40%, 90%, 1.0);
}

.sub {
  font-weight: normal;
  margin-top: 0px;
}

.fixed {
  font-family: monospace
}

ul,
ol {
  margin: 0.2em;
  padding-right: 6em;
  padding-left: 1em;
}

ul.quiet {
  list-style: none;
}

p {
  color: hsl(0, 0%, 0%);
  font-family:  'Helvetica light', sans-serif;
  font-size: 14pt;
  margin-top: .5em;
  margin-bottom: 0em;
  position: fixed;
  float: right;
  max-width: 500px;
  min-width: 450px;
}

li {
  margin-top: 0.2em;
  font-family: 'Raleway', sans-serif;
  line-height: 1.7em;
  color: hsla(0, 10%, 30%, 1.0);
}

li {
  margin-bottom: 0.6em;
  line-height: 1.3em;
  font-size: 11pt;
}

.fixed-width {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

span.date {
  font-family: monospace;
}

span.title {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: hsla(0, 5%, 60%, 1.0);
}

code {
  color: black;
  padding: .1em;
  border-radius: 4px;
}

span.description {
  font-weight: normal;
  margin-left: 0.3em;
}

span.title::before {
  content: " – ";
}

span.title::after {
  content: ":";
}

.contents {
  text-align:center;
  font-size: 4em;
  margin-top: 10%;
  position: relative;
}

.centered {
  text-align: center;
  margin: auto;
  min-width: 200px;
  width: 80%;
}

h2 {
  color: hsl(168, 100%, 37%);
  text-transform: lowercase;
  font-family:  'Helvetica light', sans-serif;
  font-size: 14pt;
  margin-top: .5em;
  margin-bottom: 0em;
}

.pic {
  height: 500px;

}
.picdiv {
  float: left;
}
.textdiv {

  transform: translate(600px,0px);
}

