canvas {
  border: 2px solid hsla(140,10%,80%,1.0);
  padding: 10px;
  margin: auto;
  display: inline-block;
  margin-top: 1em;
}

body {
  margin: 0px;
  padding: 0px;
}

ul {
  text-align: center;
  list-style: none;
  margin: auto;
  padding: 0px;
  font-size: 24pt;
  font-weight: bold;
}

li {
  font-size: 20pt;
}

.centered {
  text-align: center;
  margin: auto;
  min-width: 200px;
  width: 80%;
}

.nav {
  width: 100%;
  text-align: center;
  font-size: 24pt;
  margin: 0px;
  padding: 0px;
  margin-top: 1em;
}
.nav > a {
  margin: 1em;
}