footer {
  width: 100%;
  position: absolute;
  bottom: 10px;
  text-align: center;
  color: hsla(0, 10%, 30%, 1.0);
}

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 1em;
  background: #544444;
  padding: 5px;
  text-decoration: none;
}

.btn:hover {
  background: #786262;
  text-decoration: none;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
