h1
{
    font-family: Helvetica;
    font-size: 80px;
    text-align: center;
    color:darkslategray;
}



h3
{
    font-family:Helvetica;
    font-size: 30px;
    text-align: center;
    color:darkred;
}