h1
{
    font-family: futura;
    font-size:100px;
    text-align: center;
    color:darkslategray;

}
h2
{
    font-family: futura;
    font-size:200px;
    text-align: center;
    color:darkslategray;
}