html,body,div,ul,li,svg{
	margin:0;
	padding:0;
	list-style:none;
}

/*------------Global-------------*/
html,body{
	height: 100%;
	position: relative;
	background: #ffffff;
}

.container .section{
	width:100%;
}
.container .canvas{
	width:100%;
	background: rgb(255, 255, 255);
	height:700px;
}
.container .controls{
	margin-bottom:20px;
}

.container .bar{
	width:100%;
	background: rgb(255, 255, 255);
	height:500px;
}

/*------------font-------------*/
body{
	font-size: 16px;
}
h1{ font-size:2em;
color: rgba(25, 38, 49, 0.31);
}
h2{ font-size:1.5em;
	color: rgba(25, 38, 49, 0.31);}
p{
	font-family:"Droid Serif", serif;
	color: rgba(25, 38, 49, 0.31);
}

/*------------map-------------*/
.map .state{
	fill:none;
	stroke:white;
	stroke-width:1px;
}


.label{
	fill: #587493;
}
.boundary{
    fill: rgba(164, 220, 208, 0.5);
    opacity:0.5;
	stroke:white;
	stroke-width:1px;
}
.land{
    fill: rgba(164, 220, 208, 0.5);
	stroke:white;
	stroke-width:1px;
}
.mapLabel{
	fill:white;
	text-anchor:middle;
}

/*------------dots-------------*/
.dots{
	fill: rgba(3,135,220,0.3);
}

/*------------tooltip----------*/
#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#tooltip.hidden {
    display: none;
}

#tooltip p {
    margin: 0;
    /*font-family: sans-serif;*/
    font-size: 16px;
    line-height: 20px;
    color: #0f0f0f;
}