#plot {
    width:900px;
    height:600px;
}

svg {

  width: 900px;
  height: 600px;

  
/*
  border-bottom: 1px solid hsla(0, 5%, 60%, 1.0);
  border-left:   1px solid hsla(0, 5%, 60%, 1.0);
*/
}


.axis-label {
  font-size: 20px;
  font-weight: bold;
  fill: hsla(0, 5%, 60%, 1.0);
}

