
/*------------Structure-------------*/
html,body{
	height: 100%;
	position: relative;

}



body {
  font-family: 'Railway', sans-serif;
  background-color: hsla(180, 10%, 95%, 1.0);
  color: hsla(0, 10%, 10%, 1.0);
  margin: 2em;
  font-size: 12pt;
}

.container{
	width:100%;
    height:100%;
    position:relative;
}
.container .canvas{
	width:100%;
	height: 100%;
/*	overflow:hidden;*/
}

.background{
  fill: hsla(180, 10%, 95%, 1.0);
}