body {
   background-color:hsla(180, 10%, 95%, 1.0);
   margin:2em;
}

.user {
	width:33.3%;
	height:350px;
    float:left;
	position: relative;
	background:#e6fff9;
}

.plot1 {
	width:66.6%;
	height:350px;
    float:left;
	position: relative;
	background:white;
}

.plot2 {
    clear:both;
	width:100%;
	height:150px;
	position: relative;
	background:#e6f9ff;
}

.legendLabel {
    font: 9px sans-serif;
    fill: darkgray;
}

/*-----------tooltip-----------*/
div.tooltip{
    position: absolute;			
    text-align: center;			
    width: 250px;
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;
}

circle {
  transition: 0.2s;
}
circle:hover {
  fill: hsla(0, 5%, 60%, 1.0);
  stroke-width: 4px;
}
.axis-label {
  font-size: 20px;
  font-weight: bold;
  fill: hsla(0, 5%, 60%, 1.0);
}


.axis {
    stroke:rgb(200,200,200);
    stroke-width:1px;
}

.axis .domain{
    fill:none
}
.axis .tick line{
    fill:none;
    stroke:rgb(200,200,200);
    stroke-width:1px;
}
.axis .tick text{
    stroke:none;
    fill:rgb(80,80,80);
    font-size:8px;
}

.namelabel {
    font-family:"Roboto",Arial,sans-serif;
    text-align: left;
    fill:rgb(150,150,150);
    font-size:12px;
}

